[user]
	email = zn.tportlock@gmail.com
	name = theoportlock
[core]
	editor = vim
[credential]
	helper = cache --timeout=36000
[http]
	sslverify = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[pull]
	rebase = false
[mergetool]
	keepBackup = false
[alias]
        graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
